@model List<Skill> 
<!-- Blank Start -->
<div class="container-fluid pt-4 px-0">
    <div class="row bg-light rounded mx-0">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="mb-0 fw-bold text-primary">Skill List</h4>
                    <a  asp-controller="Skill" asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Add New Skill</a>
                </div>

                <div class="table-responsive ">
                    <table id="tblSkillData" class="table table-hover text-center ">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Id</th>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
            <script src="~/js/Skill.js"></script>
}