@model Skill
<div class="container-fluid pt-4 px-0">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4 fw-bold text-primary">Update Skill</h3>
                <form method="post">
                    <input asp-for="Id" hidden/>
                    <div class="form-floating mb-3">
                        <input asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="Name" for="floatingInput"></label>
                        <span asp-validation-for="Name" class="text-danger m-2"></span>
                    </div>
                    <div>
                        <input asp-for="IsDeleted" type="hidden" value="false" />
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-controller="Skill" asp-action="Index" class="btn btn-danger">Back To List</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

