@model Company
<div class="container-fluid pt-4 px-0">
    <div class="row g-4">
        <div class="col-lg-9">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4 fw-bold text-primary">Detail Company</h3>
                <form method="post" class="row">
                    <input asp-for="Id" hidden />
                    <input asp-for="Logo" hidden />
                    <div class="form-floating mb-3 col-lg-6">
                        <input readonly asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="Name" for="floatingInput"></label>
                        <span asp-validation-for="Name" class="text-danger m-2"></span>
                    </div>

                    <div class="form-floating mb-3 col-lg-6">
                        <input readonly asp-for="Industry" type="text" class="form-control" id="floatingInputIndustry" placeholder="">
                        <label asp-for="Industry" for="floatingInputIndustry"></label>
                        <span asp-validation-for="Industry" class="text-danger m-2"></span>
                    </div>

                  @*   <div class="form-floating mb-3">
                        <input readonly asp-for="Logo" type="text" class="form-control" id="floatingInputLogo" placeholder="" value="@Model.Logo">
                        <label asp-for="Logo" for="floatingInputLogo"></label>
                        <span asp-validation-for="Logo" class="text-danger m-2"></span>
                    </div> *@

                    <div class="form-floating mb-3 col-lg-6">
                        <input readonly asp-for="Website" type="text" class="form-control" id="floatingInputWebsite" placeholder="">
                        <label asp-for="Website" for="floatingInputWebsite"></label>
                        <span asp-validation-for="Website" class="text-danger m-2"></span>
                    </div>

                    <div class="form-floating mb-3 col-lg-6">
                        <input readonly asp-for="Email" type="email" class="form-control" id="floatingInputEmail" placeholder="">
                        <label asp-for="Email" for="floatingInputEmail"></label>
                        <span asp-validation-for="Email" class="text-danger m-2"></span>
                    </div>

                    <div class="form-floating mb-3 col-lg-6">
                        <input readonly asp-for="Phone" type="tel" class="form-control" id="floatingInputPhone" placeholder="">
                        <label asp-for="Phone" for="floatingInputPhone"></label>
                        <span asp-validation-for="Phone" class="text-danger m-2"></span>
                    </div>

                    <div class="form-floating mb-3 col-lg-6">
                        <input readonly asp-for="Create" type="datetime" class="form-control" id="floatingInputCreate" placeholder="">
                        <label asp-for="Create" for="floatingInputCreate"></label>
                        <span asp-validation-for="Create" class="text-danger m-2"></span>
                    </div>

                    <div class="form-floating mb-3 col-lg-6">
                        <input readonly asp-for="Update" type="datetime" class="form-control" id="floatingInputUpdate" placeholder="">
                        <label asp-for="Update" for="floatingInputUpdate"></label>
                        <span asp-validation-for="Update" class="text-danger m-2"></span>
                    </div>


                    <div>
                        <input asp-for="Status" type="hidden" value="true" />
                    </div>

                    <div class=" mb-3 col-lg-12">
                        <label asp-for="Description" class="ms-2 text-muted"></label>
                        <textarea disabled asp-for="Description" class="form-control" id="floatingInputDescription" placeholder=""></textarea>
                        <span asp-validation-for="Description" class="text-danger m-2"></span>
                    </div>

                    @* <button type="submit" class="btn btn-primary">Create</button> *@
                    <div>
                        <a asp-controller="Company" asp-action="Index" class="btn btn-danger">Back To List</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4 fw-bold text-primary">Logo</h3>
                <div class="card">
                    <img src="@Model.Logo" class="card-img-top" alt="...">
                   
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            // Lắng nghe sự kiện 'blur' của TinyMCE
            readonly: document.querySelector('textarea[disabled]') ? true : false,
            setup: function (editor) {
                editor.on('blur', function () {
                    checkDes();
                });
            }

        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

