<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p  class="mb-2">Job Seeker</p>
                    <h6 id="jobseeker" class="mb-0"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Employer</p>
                    <h6 id="employer" class="mb-0"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Job Post</p>
                    <h6 id="jobpost" class="mb-0"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Apply</p>
                    <h6 id="apply" class="mb-0"></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->
<!-- Phần tử canvas cho biểu đồ thứ nhất -->
@* <canvas id="chart1" width="400" height="200"></canvas> *@
<!-- Phần tử canvas cho biểu đồ thứ hai -->
<br />

<div class="container mt-3">
    <h6 class="mb-0" style="text-align"> Số lượng người đăng kí:</h6>
    <label for="dateRange">Chọn khoảng thời gian:</label>
    <input type="text" id="dateRange" class="form-control" />
</div>
<canvas id="userChart" width="400" height="200"></canvas>

<div class="container mt-3">
    <h6 class="mb-0" > Số job được đăng:</h6>
    <label for="dateRange">Chọn khoảng thời gian:</label>
    <input type="text" id="dateRange1" class="form-control" />
</div>
<canvas id="jobChart" width="400" height="200"></canvas>
@section Scripts {
    <script src="~/js/Statistical.js"></script>

}

